# Dataset Processing

Basic dataset processing code for adult classification data.

## Step 0: Imports

In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from scipy import stats as stats

## Step 1: Import data from https://archive.ics.uci.edu/ml/datasets/Adult & put in a dataframe.

In [2]:
df = pd.read_csv("../data/adult_data.csv")
df.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

Oh no â€” no columns are set. We set the columns of the dataframe equal to the ones defined by the data publishers.

In [3]:
df.columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'result']

In [4]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,result
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
5,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
6,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
7,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
8,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
9,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
10,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
11,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
12,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
13,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
14,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
15,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
16,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
17,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
18,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
19,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
20,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
21,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
22,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
23,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
24,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
25,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
26,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
27,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
28,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
29,23,Local-gov,190709,Assoc-acdm,12,Never-married,Protective-serv,Not-in-family,White,Male,0,0,52,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32530,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32531,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32532,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32533,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32534,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32535,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32536,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32537,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32538,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32539,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32540,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32541,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32542,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32543,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32544,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32545,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32546,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32547,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32548,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32549,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32550,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32551,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32552,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32553,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32554,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

Remove extra spaces.

In [5]:
df.replace({' ': ''}, regex=True, inplace=True)

https://stackoverflow.com/questions/21720022/find-all-columns-of-dataframe-in-pandas-whose-type-is-float-or-a-particular-typ

## Step 2: Create dataframe of object type columns.

In [6]:
objectColumns = df.loc[:, df.dtypes == object]
objectNames = objectColumns.columns
objectColumns.head()

,workclass,education,marital-status,occupation,relationship,race,sex,native-country,result
0,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,<=50K
1,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States,<=50K
2,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States,<=50K
3,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba,<=50K
4,Private,Masters,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States,<=50K

In [7]:
enc = preprocessing.LabelEncoder()

Using the imported LabelEncoder, encode a number to every row value in each column.

In [8]:
df_object = pd.DataFrame()
for feature in objectNames:
    df_object[feature] = enc.fit_transform(df[feature])

In [9]:
df_object.head()

,workclass,education,marital-status,occupation,relationship,race,sex,native-country,result
0,6,9,2,4,0,4,1,39,0
1,4,11,0,6,1,4,1,39,0
2,4,1,2,6,0,2,1,39,0
3,4,9,2,10,5,2,0,5,0
4,4,12,2,4,5,4,0,39,0

## Step 3: Create dataframe of int type columns.

In [10]:
intConversionNames = ['fnlwgt', 'hours-per-week'] # Columns to be standardized
intSkewNames = ['capital-gain', 'capital-loss'] # Datasets to be standardized from skew
intRemainNames = ['age', 'education-num'] # Because age is something that increases and that changes regardless of the mean, I don't want to standardize it in terms of the mean. Education-num is discreete, as in one year of college makes a larger difference than 1 year of high-school.
intColumns = df[intConversionNames]
intColumns.head()

   fnlwgt  hours-per-week
0   83311              13
1  215646              40
2  234721              40
3  338409              40
4  284582              40

In [11]:
scaler = preprocessing.StandardScaler()

Using the scaler, convert each column to a standard distribution.

In [12]:
df_int = pd.DataFrame()
for feature in intConversionNames:
    df_int[feature] = np.ravel(scaler.fit_transform(df[feature].values.reshape(-1, 1))) # https://stackoverflow.com/questions/18200052/how-to-convert-ndarray-to-array

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/utils/validation.py:444: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [13]:
df_int.head()

     fnlwgt  hours-per-week
0 -1.008742        -2.22212
1  0.245046        -0.03543
2  0.425770        -0.03543
3  1.408146        -0.03543
4  0.898170        -0.03543

## Step 4: Create dataframe of int skewed data.
Because capital-gain and capital-loss have strong right skews.

In [14]:
df_adjustedskew = pd.DataFrame()
def isFilled(item): # Tells us if data is greater than 0.
    if int(item) > 0:
        return 1
    else:
        return 0
for feature in intSkewNames:
    df_adjustedskew[feature] = np.log(df[feature]+1)
    df_adjustedskew[feature + '-status'] = df[feature].apply(isFilled, 1)
    print(stats.skewtest(df[feature]))
    print(stats.skewtest(df_adjustedskew[feature]))

SkewtestResult(statistic=203.27837055321726, pvalue=0.0)
SkewtestResult(statistic=122.94186195374645, pvalue=0.0)
SkewtestResult(statistic=146.13346764723036, pvalue=0.0)
SkewtestResult(statistic=142.31424640509798, pvalue=0.0)

Although it doesn't do a lot, taking the log of the data does help. On top of that we add capital-gain-status & capital-loss-status, which tell us if the row contains a value, allowing us to adjust for the strong skew. There's a larger difference between 0-1000 versus 1000-2000, as having a value is quite rare. If we mark the presence of the value with status columns, we can mark that important difference.

In [15]:
df_adjustedskew.head()

   capital-gain  capital-gain-status  capital-loss  capital-loss-status
0           0.0                    0           0.0                    0
1           0.0                    0           0.0                    0
2           0.0                    0           0.0                    0
3           0.0                    0           0.0                    0
4           0.0                    0           0.0                    0

## Step 5: Concatenate the int and object dataframes into our final_df

In [16]:
final_df = pd.concat([df_int, df_adjustedskew, df[intRemainNames], df_object], axis=1)

In [17]:
final_df

,fnlwgt,hours-per-week,capital-gain,capital-gain-status,capital-loss,capital-loss-status,age,education-num,workclass,education,marital-status,occupation,relationship,race,sex,native-country,result
0,-1.008742,-2.222120,0.000000,0,0.000000,0,50,13,6,9,2,4,0,4,1,39,0
1,0.245046,-0.035430,0.000000,0,0.000000,0,38,9,4,11,0,6,1,4,1,39,0
2,0.425770,-0.035430,0.000000,0,0.000000,0,53,7,4,1,2,6,0,2,1,39,0
3,1.408146,-0.035430,0.000000,0,0.000000,0,28,13,4,9,2,10,5,2,0,5,0
4,0.898170,-0.035430,0.000000,0,0.000000,0,37,14,4,12,2,4,5,4,0,39,0
5,-0.280392,-1.979155,0.000000,0,0.000000,0,49,5,4,6,3,8,1,2,0,23,0
6,0.188162,0.369513,0.000000,0,0.000000,0,52,9,6,11,2,4,0,4,1,39,1
7,-1.364314,0.774455,9.552866,1,0.000000,0,31,14,4,12,4,10,1,4,0,39,1
8,-0.287384,-0.035430,8.552367,1,0.000000,0,42,13,4,9,2,4,0,4,1,39,1
9,0.859155,3.204111,0.000000,0,0.000000,0,37,10,4,15,2,4,0,2,1,39,1
10,-0.459362,-0.035430,0.000000,0,0.000000,0,30,13,7,9,2,10,0,1,1,19,1
11,-0.639612,-0.845315,0.000000,0,0.000000,0,23,13,4,9,4,1,3,4,0,39,0
12,0.144362,0.774455,0.000000,0,0.000000,0,32,12,4,7,4,12,1,2,1,39,0
13,-0.644349,-0.035430,0.000000,0,0.000000,0,40,11,4,8,2,3,0,1,1,0,1
14,0.527770,0.369513,0.000000,0,0.000000,0,34,4,4,5,2,14,0,0,1,26,0
15,-0.123411,-0.440373,0.000000,0,0.000000,0,25,9,6,11,4,5,3,4,1,39,0
16,-0.028023,-0.035430,0.000000,0,0.000000,0,32,9,4,11,4,7,4,4,1,39,0
17,-1.524374,0.774455,0.000000,0,0.000000,0,38,7,4,1,2,12,0,4,1,39,0
18,0.970109,0.369513,0.000000,0,0.000000,0,43,14,6,12,0,4,4,4,0,39,1
19,0.035455,1.584340,0.000000,0,0.000000,0,40,16,4,10,2,10,0,4,1,39,1
20,1.064578,-1.655200,0.000000,0,0.000000,0,54,9,4,11,5,8,4,2,0,39,0
21,-1.070003,-0.035430,0.000000,0,0.000000,0,35,5,1,6,2,5,0,2,1,39,0
22,-0.689210,-0.035430,0.000000,0,7.622175,1,43,7,4,1,2,14,0,4,1,39,0
23,-0.765213,-0.035430,0.000000,0,0.000000,0,59,9,4,11,0,13,4,4,0,39,0
24,0.256463,-0.035430,0.000000,0,0.000000,0,56,13,2,9,2,13,0,4,1,39,1
25,-0.203583,-0.035430,0.000000,0,0.000000,0,19,9,4,11,4,3,3,4,1,39,0
26,-0.090677,1.584340,0.000000,0,0.000000,0,54,10,0,15,2,0,0,1,1,35,1
27,1.681490,3.204111,0.000000,0,0.000000,0,39,9,4,11,0,4,1,4,1,39,0
28,0.033958,-0.035430,0.000000,0,0.000000,0,49,9,4,11,2,3,0,4,1,39,0
29,0.008784,0.936432,0.000000,0,0.000000,0,23,12,2,7,4,11,1,4,1,39,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32530,-1.477722,4.742893,0.000000,0,0.000000,0,30,13,0,9,4,0,1,1,0,39,0
32531,0.139076,1.584340,0.000000,0,0.000000,0,34,16,4,10,2,10,0,4,1,39,1
32532,1.404195,0.774455,0.000000,0,0.000000,0,54,13,4,9,2,4,0,1,1,24,1
32533,-0.100853,-0.116419,0.000000,0,0.000000,0,37,10,4,15,0,1,4,4,0,39,0
32534,1.281417,-0.440373,0.000000,0,0.000000,0,22,8,4,2,4,11,3,2,1,39,0
32535,-0.280117,1.179398,0.000000,0,0.000000,0,34,13,4,9,4,4,1,4,0,39,1
32536,1.479099,0.450501,0.000000,0,0.000000,0,30,9,4,11,4,3,1,2,1,39,0
32537,-0.479419,0.369513,9.617205,1,0.000000,0,38,13,4,9,0,10,4,2,0,39,1
32538,0.924604,-2.465086,0.000000,0,0.000000,0,71,16,0,10,2,0,0,4,1,39,1
32539,0.591447,-0.035430,0.000000,0,0.000000,0,45,9,7,11,5,1,3,4,0,39,0
32540,0.123547,-0.683338,0.000000,0,0.000000,0,41,9,0,11,5,0,1,2,0,39,0
32541,-0.567228,-1.250258,0.000000,0,0.000000,0,72,9,0,11,2,0,0,4,1,39,0
32542,-0.668726,0.612478,0.000000,0,0.000000,0,45,12,2,7,0,10,4,4,0,39,0
32543,0.093542,-0.845315,0.000000,0,0.000000,0,31,14,4,12,0,8,1,3,0,39,0
32544,-0.741679,-1.655200,0.000000,0,0.000000,0,39,12,2,7,2,1,5,4,0,39,1
32545,0.079908,-0.035430,0.000000,0,0.000000,0,37,12,4,7,0,13,1,4,0,39,0
32546,0.672482,-0.035430,0.000000,0,0.000000,0,43,9,4,11,2,7,0,4,1,26,0
32547,-0.856697,1.584340,6.991177,1,0.000000,0,65,15,6,14,4,10,1,4,1,39,0
32548,0.625811,-0.035430,0.000000,0,0.000000,0,43,10,7,15,0,1,2,4,0,39,0
32549,-1.539959,0.774455,0.000000,0,0.000000,0,43,10,6,15,2,3,0,4,1,39,0
32550,-1.475306,-0.035430,0.000000,0,0.000000,0,32,6,4,0,2,6,0,0,1,39,0
32551,-0.995951,0.369513,0.000000,0,0.000000,0,43,11,4,8,2,12,0,4,1,39,0
32552,-0.697727,-2.384097,0.000000,0,0.000000,0,32,14,4,12,4,13,1,1,1,36,0
32553,1.251402,-0.035430,0.000000,0,0.000000,0,53,14,4,12,2,4,0,4,1,39,1
32554,1.140429,-0.035430,0.000000,0,0.000000,0,22,10,4,15,4,11,1,4,1,39,0
32555,0.639710,-0.197407,0.000000,0,0.000000,0,27,12,4,7,2,13,5,4,0,39,0
32556,-0.335466,-0.035430,0.000000,0,0.000000,0,40,9,4,11,2,7,0,4,1,39,1
32557,-0.358811,-0.035430,0.000000,0,0.000000,0,58,9,4,11,6,1,4,4,0,39,0
32558,0.110927,-1.655200,0.000000,0,0.000000,0,22,9,4,11,4,1,3,4,1,39,0
32559,0.929862,-0.035430,9.617471,1,0.000000,0,52,9,5,11,2,4,5,4,0,39,1